<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= htmlWebpackPlugin.options.title %></title>
    <% for (var css in htmlWebpackPlugin.files.css) { %>
      <% if (!htmlWebpackPlugin.files.css[css].includes('app')) { %>
        <link rel="preload" as="style" type="text/css" crossorigin="anonymous" href="<%= htmlWebpackPlugin.files.css[css] %>" onload="this.rel='stylesheet'"/>
      <% } %>
    <% } %>
  </head>
  <body>
  <div id="root" class="root"></div>
  <% for (var js in htmlWebpackPlugin.files.js) { %>
    <link as="script" href="<%= htmlWebpackPlugin.files.js[js] %>"
          onload="const script = document.createElement('script'); script.src = this.href; document.body.appendChild(script);"
          rel="preload">
  <% } %>
  <% for (var css in htmlWebpackPlugin.files.css) { %>
    <% if (htmlWebpackPlugin.files.css[css].includes('app')) { %>
    <link rel="stylesheet" type="text/css" href="<%= htmlWebpackPlugin.files.css[css] %>" />
    <% } %>
  <% } %>
  </body>
</html>
